.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.circle {
  width: 50px; /* Diameter */
  height: 50px; /* Diameter */
  background-color: rgba(0, 0, 0, 0.7); /* Color with transparency */
  border-radius: 50%; /* Makes it a circle */
  position: absolute;
  pointer-events: none; /* Allows clicks to pass through */
}

@media (max-width: 1035px) {
    .scroll-pillar-container {
      opacity: 0;
    }
  }
.scroll-pillar-container {
  position: fixed;
  top:7rem;
  right: 30px;
  width:.5rem;
  height: 62vh;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}

.scroll-pillar {
  width: 100%;
  background-color: rgba(36, 36, 42,.7); /* Green color for the fill */
  height: 0;
  transition: height .7s ease-out;
}